</div>
<!-- Content end -->
</div>
<!-- Wrapper end -->

<!-- Footer start -->
<footer class="hidden-xs hidden-sm">
    <div class="container">
        <p>Copyright 2017. All rights reserved. &nbsp;|&nbsp; CoolPix</p>
    </div>
</footer>
<!-- Footer start -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//widget.cloudinary.com/global/all.js" type="text/javascript">  
</script>


  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery.min.html"><\/script>')</script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>

<!-- Custom JavaScript -->
<script type="text/javascript">
    $(document).ready(function() {
        // Mobile menu: slide from the left
        $('[data-toggle="slide-collapse"]').on('click', function() {
            $(this).toggleClass('active');
            $('#page-overlay').toggleClass('visible');
            $navMenuCont = $($(this).data('target'));
            $navMenuCont.toggleClass('active');
            $navMenuCont.animate({'width':'toggle'}, 350);
        });
        
        // Mobile menu: hide on tap outside the element
        $('#page-overlay').click(function(event) {
            $clickover = $(event.target);
            $opened = $(".navbar-collapse").hasClass("active");
            if ($opened === true && !$clickover.hasClass("navbar-toggle")) {
                $("button.navbar-toggle").click();
            }
        });
        
        // jQuery slider
        var handle = $("#custom-handle");
        $("#slider-rating").slider({
            range: "min",
            step: 1,
            min: 1,
            max: 10,
            value: 6,
            create: function() {
                handle.text($(this).slider("value"));
            },
            slide: function(event, ui) {
                handle.text(ui.value);
            }
        });
    });
</script>
<script src='js/main.js'></script>
</body>

<!-- Mirrored from trycoolpix.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 15 Aug 2017 20:28:01 GMT -->
</html>