<!DOCTYPE html>
<html lang="en">
    
<!-- Mirrored from trycoolpix.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 15 Aug 2017 20:27:38 GMT -->
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        
        <title>Coolpix - Home</title>
        
        <!-- Bootstrap core CSS & plugins CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/jquery-ui.min.css" rel="stylesheet">
        
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">
        
        <!-- Fontawesome -->
        <link href="css/font-awesome.min.css" rel="stylesheet">
        
        <!-- Custom styles for this template -->
        <link href="css/style.css" rel="stylesheet">
        
        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,900" rel="stylesheet">
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        
        <!-- Page overlay -->
        <div id="page-overlay"></div>
        
        
        <!-- Wrapper start -->
        <div id="wrapper">
            
            
            <!-- Header start -->
            <header>
                <!-- Mobile navigation -->
                <nav class="navbar hidden-md hidden-lg">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="slide-collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <% if (typeof user !== "undefined") { %> 
                            <div class="navbar-user clearfix">
                                <img src="images/content/avatar-sm.jpg" alt="James Anderson" />
                                <h6><%= user.name %></h6>
                                <p><%= user.location.name %></p>
                            </div>
                            <% }%>
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/user">My Profile</a></li>
                                <li><a href="index.html">Share this app</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </div><!--/.navbar-collapse -->
                    </div>
                </nav>
                
                <div class="header-top clearfix">
                    <div class="container">
                        <div class="header-notifications"><i class="fa fa-bell-o" aria-hidden="true"></i></div>
                        
                        <!-- Desktop navigation -->
                        <nav class="navbar-desk hidden-xs hidden-sm">
                            <button type="button" class="navbar-desk-toggle">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div id="navbar-desk">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/user">My Profile</a></li>
                                    <li><a href="index.html">Share this app</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="/logout">Logout</a></li>
                                </ul>
                            </div>
                        </nav>
                        
                        <a class="logo hidden-xs hidden-sm" href="index.html">CoolPix</a>
                        
                        <h1 class="hidden-md hidden-lg">Welcome to CoolPix</h1>
                    </div>
                </div>
            </header>
            <!-- Header end -->
            <!-- Content start -->
            <div class="content <%= (typeof special_class !== "undefined") ? special_class : "" %>">
                <div class="container">