<%- include('header', {user: user}) -%>
                    <!-- Mobile gallery -->
                    <div class="mobile-gallery hidden-md hidden-lg">
                    	<div class="rating_holder">
                        <ul class="images">
                            <li class="first"><img src="images/content/slide-01.jpg" alt="" /></li>
                            <li class="second"><img src="images/content/slide-03.jpg" alt="" /></li>
                            <li class="active"><img src="images/content/slide-02.jpg" alt="" /></li>
                        </ul>
                        <div class="rating">
                        	<div class="rating_text_holder"><div class="rating_text" id="rating"></div></div>
                        </div>
                        </div>
			<h4 style="text-align: center;">Swipe To Rate And Move On</h4>
                    </div>
                    
                    <!-- Desktop gallery -->
                    <div class="gallery-carousel hidden-xs hidden-sm">
                        <ul class="image-carousel">
                            <li class="left"><img src="images/content/slide-01.jpg" alt="" /></li>
                            <li class="active"><img src="images/content/slide-02.jpg" alt="" /></li>
                            <li class="right"><img src="images/content/slide-03.jpg" alt="" /></li>
                        </ul>
                        
                        <div class="image-carousel-controls">
                            <button class="image-carousel-control left"></button>
                            <button class="image-carousel-control right"></button>
                        </div>
                        
                        <div id="slider-rating">
                            <div id="custom-handle" class="slider-handle">&nbsp;</div>
                        </div>
                        
                        <button class="but" data-text="Vote" type="submit">
                            <span>Vote</span>
                        </button>
                    </div>
                    
                </div>
                <%- include('footer') -%>