<!DOCTYPE html>
<html lang="en">
    
<!-- Mirrored from trycoolpix.com/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 15 Aug 2017 20:29:01 GMT -->
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        
        <title>Coolpix - Login</title>
        
        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">
        
        <!-- Custom styles for this template -->
        <link href="css/style.css" rel="stylesheet">
        
        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,900" rel="stylesheet">
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        
        <div class="login-page">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="col-inner-padding">
                        <a class="logo green" href="index.html">CoolPix</a>
                        
                        <h1>
                            <em class="green">Vote faster.</em><br />
                            Swipe for your
                            favorite image.
                        </h1>
                        
                        <button class="but green big" data-text="Login with Facebook" onClick="window.location.href = '/login'">
                            <span>Login with Facebook</span>
                        </button>
                    </div>
                    
                    <div class="bottom-images hidden-md hidden-lg">&nbsp;</div>
                </div>
                
                <div class="col-md-8 hidden-xs hidden-sm fullwidth-image">
                    <div class="col-inner-padding">
                        <p>Upload your photos <br />and get rated from others</p>
                    </div>
                </div>
            </div>
        </div>
        
        
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.html"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="js/ie10-viewport-bug-workaround.js"></script>
    </body>

<!-- Mirrored from trycoolpix.com/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 15 Aug 2017 20:29:01 GMT -->
</html>