<%- include('header') -%>
                    
        <div class="row">
            <!-- Sidebar start -->
            <div class="col-xs-12 col-md-3">
                <div class="content-user-info">
                    <div class="content-user-avatar">
                        <img style="background-image: url('<%= user.picture.data.url %>')"/>
                    </div>
                    <h5><%= user.name %></h5>
                    <p><%= user.location.name %></p>
                </div>
            </div>
            <!-- Sidebar end -->
            
            
            <!-- Main column start -->
            <div class="col-xs-12 col-md-9">
                <div class="user-gallery">
                    <div class="user-gallery-header">
                        <button class="but green" data-text="Upload Photos" id="upload_widget_opener">
                            <i class="fa fa-camera" aria-hidden="true"></i> <span class="hidden-xs hidden-sm">Upload Photos</span>
                        </button>
                    </div>
                    
                    <div class="user-gallery-body">
                        <h4>Sorted by Date</h4>
                        
                        <ul class="photos-list clearfix">
                            <% pics.forEach(function(pic){ %>
                                <li class="photos-list-item">
                                    <img src="<%= pic.picture.url %>" alt="" />
                                    <div class="gradient"></div>
                                    <span class="photos-list-rate">
                                        <i class="fa fa-star" aria-hidden="true"></i> 5
                                        ( 35 reviews )
                                    </span>
                                </li>    
                            <% }); %>
                            
                            
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Main column end -->
        </div>
    </div>
    <script type="text/javascript">  
        document.getElementById("upload_widget_opener").addEventListener("click", function() {
            cloudinary.openUploadWidget({ cloud_name: 'dwqo3od7a', upload_preset: 'nq1o7wb3', multiple: false,
            cropping: true, cropping_aspect_ratio: 1, theme: 'minimal'}, 
            function(error, result) { 
                console.log(error, result)
                fetch('http://localhost:3000/upload_picture', {
                    method: 'POST', 
                    body: JSON.stringify(result[0]),
                    credentials: 'same-origin',
                    headers: new Headers({
                        'Content-Type': 'application/json'
                    })
                }).then(function(err) {
                    console.log(err); 
                    window.location.reload();
                 });
            });
        }, false);
    </script>
    <%- include('footer') -%>