/*****************************
 * Coolpix specific styles *
 *****************************/


/*****************************
 * General *
 *****************************/

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #585858;
    background-color: #fff;
}

@media (max-width: 991px) {
    .container {
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
        padding: 0;
    }
}

#wrapper {
    position: relative;
}

.no-border {
    border: 0 none;
}


/**********************************
 * Headlines, buttons, typography *
 **********************************/

h1 {
    font-size: 28px;
    line-height: 33px;
    font-weight: 900;
    text-transform: uppercase;
}

@media (min-width: 992px) {
    h1 {
        font-size: 35px;
        line-height: 42px;
    }
}

h1 em {
    font-style: normal;
}

h5 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    margin: 0 0 1px 0;
}

h6 {
    font-size: 15px;
    font-weight: 600;
    color: #585858;
    margin: 0 0 1px 0;
}

.but {
    display: inline-block;
    font-size: 12px;
    line-height: 19px;
    font-weight: 500;
    color: #8de73d;
    background-color: #fff;
    border: 1px solid #8de73d;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    padding: 8px 20px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

@media (min-width: 992px) {
    .but > span {
        display: inline-block;
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
        -webkit-transition-timing-function: cubic-bezier(0.75,0,0.125,1);
        transition-timing-function: cubic-bezier(0.75,0,0.125,1);
    }
    
    .but:hover > span {
        -moz-transform: translate3d(0px, 200%, 0px);
        -webkit-transform: translate3d(0px, 200%, 0px);
        transform: translate3d(0px, 200%, 0px);
    }
    
    .but:before {
        background: #8de73d;
        color: #fff;
        content: attr(data-text);
        height: 100%;
        padding: 8px 20px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        left: 0;
        position: absolute;
        top: 0;
        -moz-transform: translate3d(100%, 0px, 0px);
        -webkit-transform: translate3d(100%, 0px, 0px);
        transform: translate3d(100%, 0px, 0px);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
        width: 100%;
    }
    
    .but:hover:before {
        -moz-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        transform: translate3d(0px, 0px, 0px);
    }
    
    .but:hover {
        color: #fff;
        background-color: #8de73d;
    }
}

.but.green {
    color: #fff;
    background-color: #8de73d;
    -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 992px) {
    .but.green:hover,
    .but.green:before {
        color: #8de73d;
        background-color: #fff;
    }
}

.but.big {
    font-size: 16px;
    line-height: 26px;
    text-transform: none;
    padding: 17px 37px 19px;
}

@media (min-width: 992px) {
    .but.big {
        font-size: 18px;
    }
    
    .but.big:before {
        padding: 17px 37px 19px;
    }
}

.but i {
    font-size: 18px;
    padding-right: 5px;
    position: relative;
    top: 3px;
}

.green {
    color: #80dd2d;
}


/*****************************
 * Header *
 *****************************/

header {
    color: #fff;
    background-color: #8ae439;
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

@media (min-width: 1200px) {
    header .container {
        width: 1170px;
        padding: 0;
    }
}

header a,
header a:hover {
    color: #fff;
    text-decoration: none;
}

.header-notifications {
    float: right;
    font-size: 19px;
    color: #fff;
    margin: 18px 5px 0;
    cursor: pointer;
}

@media (min-width: 992px) {
    .header-notifications {
        font-size: 30px;
        margin: 22px 0 0;
    }
}

.header-top h1 {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    text-transform: none;
    margin: 19px 20px;
}

.logo {
    display: inline-block;
    padding-left: 37px;
    font-size: 22px;
    line-height: 34px;
    font-weight: 600;
    color: inherit !important;
    margin: 22px 39px 0;
    text-decoration: none !important;
    position: relative;
}

.logo.green {
    color: #585858;
    margin: 0;
}

.logo:after {
    content: '';
    display: block;
    width: 28px;
    height: 30px;
    background-image: url('../images/sprite.png');
    background-repeat: no-repeat;
    background-size: 200px 75px;
    background-position: 0px 0px;
    position: absolute;
    top: 0;
    left: 0;
}

.logo.green:after {
    background-position: -28px 0;
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    .logo:after {
        background-image: url('../images/sprite%402x.png');
    }
}


/* Navigation */

.navbar {
    min-height: 0;
    margin-bottom: 0;
}

.navbar-toggle,
.navbar-desk-toggle {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    float: none;
    margin: 0;
    padding: 18px;
}

.navbar-desk-toggle {
    padding: 21px 0 22px;
    outline: none;
}

.navbar-toggle {
    position: absolute;
    top: 0;
    left: 0;
}

.navbar-toggle.active {
    position: fixed;
}

.navbar-toggle .icon-bar,
.navbar-desk-toggle .icon-bar {
    display: block;
    width: 24px;
    height: 3px;
    background-color: #fff;
    border-radius: 0;
}

.navbar-desk-toggle .icon-bar {
    width: 35px;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 5px;
}

.navbar-desk-toggle .icon-bar + .icon-bar {
    margin-top: 10px;
}

#page-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

#page-overlay.visible {
    visibility: visible;
    opacity: 1;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 70%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

#navbar .navbar-user {
    min-width: 250px;
    padding: 19px 20px 8px 20px;
    border-bottom: 1px solid #efefef;
}

#navbar .navbar-user img {
    float: left;
    max-width: 34px;
    max-height: 34px;
    margin-right: 10px;
}

#navbar .navbar-user p {
    font-size: 12px;
    color: #aeaeae;
}

#navbar ul {
    min-width: 250px;
    font-size: 15px;
    list-style-type: none;
    margin: 16px 19px;
    padding: 0;
}

#navbar ul li {
    padding-bottom: 21px;
}

#navbar a {
    color: #585858;
}

.navbar-desk {
    float: left;
    position: relative;
}

#navbar-desk {
    min-width: 158px;
    max-width: 240px;
    padding: 27px 15px 7px 29px;
    color: #797979;
    background-color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 1px;
    top: 80px;
    opacity: 0;
    visibility: hidden;
    -o-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 10;
}

.navbar-desk:hover #navbar-desk {
    opacity: 1;
    visibility: visible;
    top: 61px;
}

#navbar-desk ul {
    font-size: 14px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar-desk li {
    padding-bottom: 21px;
}

#navbar-desk a {
    color: #585858;
}


/*****************************
 * Content area *
 *****************************/

.content .row > div {
    padding: 0;
}


/* Mobile gallery */

.mobile-gallery {
    width: 335px;
    margin: 74px auto;
    position: relative;
    oveflow: hidden;
}

.mobile-gallery .images {
    margin: 0;
    padding: 0;
}

.mobile-gallery .images li {
    display: block;
    margin: 0 auto;
}

.mobile-gallery .images li img {
    max-width: 100%;
    width: 100%;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.mobile-gallery .images li.first,
.mobile-gallery .images li.second {
    opacity: 0.35;
    position: absolute;
    left: 50%;
}
.mobile-gallery .images li
{
    transition: all 0.4s linear;
}
.mobile-gallery .images li.first {
    width: 254px;
    top: -24px;
    margin-left: -127px;
    z-index: 0;
}

.mobile-gallery .images li.second {
    width: 294px;
    top: -12px;
    margin-left: -147px;
    z-index: 1;
}
.mobile-gallery .rating
{
   	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 4;
	opacity: 0.8;
	display: inline-block;
	pointer-events: none;
}
.mobile-gallery .rating_text_holder
{
	position: relative;
	display: table;
	height: 100%;
	width: 100%;
}
.mobile-gallery .rating_text
{
	position: relative;
	vertical-align: middle;
	height: 100%;
	width: 100%;
	text-align: center;
	display: table-cell;
	color: black;
	font-size: 2em;
	text-shadow: 1px 1px 1px white;
}

.mobile-gallery .images li.active {
    width: 335px;
    position: relative;
    z-index: 2;
    transform-origin: bottom center;
}


/* Desktop gallery */

.gallery-carousel {
    width: 650px;
    margin: 80px auto;
    text-align: center;
    position: relative;
}

.image-carousel {
    width: 575px;
    height: 437px;
    margin: 0 auto 30px;
    padding: 0;
    position: relative;
}

.image-carousel li {
    display: inline-block;
    width: 287px;
    position: absolute;
}

.image-carousel li img {
    max-width: 100%;
    width: 100%;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.image-carousel li.left,
.image-carousel li.right {
    opacity: 0.35;
    position: absolute;
    top: 30px;
    z-index: 1;
}

.image-carousel li.left {
    left: 0;
}

.image-carousel li.right {
    right: 0;
}

.image-carousel li.active {
    width: 335px;
    left: 50%;
    margin-left: -167.5px;
    z-index: 2;
}

.image-carousel-control {
    width: 18px;
    height: 31px;
    background: 0;
    border: 0;
    text-decoration: none;
    position: absolute;
    top: 203px;
    -o-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    opacity: 0.5;
}

.image-carousel-control:hover {
    opacity: 1;
}

.image-carousel-control.left {
    left: 0;
}

.image-carousel-control.right {
    right: 0;
}

.image-carousel-control:after {
    content: '';
    display: block;
    width: 17px;
    height: 31px;
    background-image: url('../images/sprite.png');
    background-repeat: no-repeat;
    background-size: 200px 75px;
    background-position: -75px 0;
    position: absolute;
    top: 0;
    left: 0;
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    .image-carousel-control:after {
        background-image: url('../images/sprite%402x.png');
    }
}

.image-carousel-control.right:after {
    background-position: -92px 0;
}


/* Slider rating */

#slider-rating {
    width: 335px;
    height: 19px;
    margin: 0 auto 30px;
    background: #c8c8c8;
    border: 0 none;
    position: relative;
}

#slider-rating #custom-handle {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 25px;
    position: absolute;
    top: 0;
    right: -50px;
}

#slider-rating .ui-slider-handle {
    width: 35px;
    height: 33px;
    margin-left: -17px;
    top: -7px;
    border: 0 none;
    background: #fefefe;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

#slider-rating .ui-slider-handle:after {
    content: '';
    display: block;
    width: 19px;
    height: 17px;
    background-image: url('../images/sprite.png');
    background-repeat: no-repeat;
    background-size: 200px 75px;
    background-position: -56px 0px;
    position: absolute;
    top: 9px;
    left: 8px;
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    #slider-rating .ui-slider-handle:after {
        background-image: url('../images/sprite%402x.png');
    }
}

#slider-rating .ui-slider-range {
    background: #82de2f;
}


/*****************************
 * Login page *
 *****************************/


.login-page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.login-page .row {
    display: table;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

@media (min-width: 992px) {
    .login-page .col-md-4 {
        width: 37.5%;
        text-align: left;
    }
    
    .login-page .col-md-8 {
        width: 62.5%;
    }
}

.login-page .row > div {
    float: none;
    display: table-cell;
    height: 100%;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    position: relative;
}

.login-page .row > div .col-inner-padding {
    padding: 140px 50px 200px 50px;
}

@media (min-width: 992px) {
    .login-page .row > div .col-inner-padding {
        padding: 81px 50px;
    }
}

.login-page .logo {
    position: absolute;
    top: 70px;
    left: 50%;
    margin-left: -60px;
}

@media (min-width: 992px) {
    .login-page .logo {
        top: 41px;
        left: 50px;
        margin: 0;
    }
}

.login-page h1 {
    margin: 0 0 21px;
}

.login-page .bottom-images {
    width: 100%;
    height: 113px;
    background: url('../images/bg-footer.png') repeat-x bottom center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.login-page .row > div.fullwidth-image {
    font-size: 25px;
    line-height: 34px;
    font-weight: 300;
    color: #fff;
    vertical-align: bottom;
    text-transform: uppercase;
    background: url('../images/bg-login.jpg') no-repeat center center;
    background-size: cover;
}

.login-page .row > div.fullwidth-image .col-inner-padding {
    padding: 62px 20%;
}


/*****************************
 * Profile page *
 *****************************/

.content.profile .col-md-3 {
    border-bottom: 1px solid #ddd;
}

@media (min-width: 992px) {
    .content.profile .col-md-3 {
        width: 21.8%;
        border: 0 none;
        border-right: 1px solid #ddd;
        position: relative;
    }
    
    .content.profile .col-md-3:after {
        content: '';
        width: 1px;
        height: 100px;
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%);
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%);
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
        position: absolute;
        bottom: 0;
        right: -1px;
    }
    
    .content.profile .col-md-9 {
        width: 78.2%;
    }
}

.content-user-info {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    margin: 43px 0 32px;
    text-align: center;
}

@media (min-width: 992px) {
    .content-user-info {
        margin-bottom: 115px;
    }
}

.content-user-info p {
    color: #aeaeae;
}

.content-user-avatar {
    width: 94px;
    height: 94px;
    margin: 0 auto 18px;
    position: relative;
}

@media (min-width: 992px) {
    .content-user-avatar {
        width: 130px;
        height: 130px;
        margin-bottom: 19px;
    }
}

.content-user-avatar:after {
    display: block;
    content: '';
    width: 100px;
    height: 100px;
    background-color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    position: absolute;
    left: -3px;
    top: -3px;
}
.gradient {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
    top: -39px;
    border-radius: 3px;
    padding: 22px 16px 16px;
    position: relative;
    z-index: 0;
}
@media (min-width: 992px) {
    .content-user-avatar:after {
        width: 136px;
        height: 136px;
    }
}

.content-user-avatar img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    
    width: 130px;
    height: 130px;
    background-size: cover;
    background-position: center;
}


/* User Gallery */

@media (min-width: 992px) {
    .user-gallery {
        padding-left: 37px;
        margin-bottom: 52px;
    }
}

.user-gallery-header {
    line-height: 42px;
    font-weight: 500;
    padding: 12px 19px;
    border-bottom: 1px solid #ddd;
}

@media (min-width: 992px) {
    .user-gallery-header {
        padding: 16px 0 13px;
    }
}

.user-gallery-header button {
    float: right;
    padding: 8px 5px 10px 10px;
    margin-top: 1px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

@media (min-width: 992px) {
    .user-gallery-header button {
        padding: 10px 14px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        margin-top: -1px;
    }
    
    .user-gallery-header button:before {
        display: inline-block;
        padding: 12px 14px 11px 41px;
    }
}

.user-gallery-body {
    padding: 6px 0 20px 5px;
}

@media (min-width: 992px) {
    .user-gallery-body {
        padding: 21px 0;
    }
}

.user-gallery-body h4 {
    color: #80dd2d;
    margin-bottom: 26px;
}

@media (max-width: 991px) {
    .user-gallery-body h4 {
        font-size: 16px;
        margin: 10px 0 17px 4px;
    }
}

.photos-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.photos-list-item {
    display: inline-block;
    margin: 0 5px 10px 0;
    position: relative;
}

@media (min-width: 1200px) {
    .photos-list-item {
        display: block;
        float: left;
        margin: 0 35px 26px 0;
    }
}

.photos-list-item img {
    width: 100%;
    max-width: 157px;
}

@media (min-width: 1200px) {
    .photos-list-item:nth-of-type(3n+0) {
        margin-right: 0;
    }
    
    .photos-list-item img {
        max-width: 269px;
    }
}

.photos-list-item .photos-list-rate {
    display: block;
    width: 100%;
    font-size: 13px;
    color: #fff;
    text-align: left;
    position: absolute;
    bottom: 12px;
    left: 16px;
    top: 258px;
}

.photos-list-item .photos-list-rate i {
    font-size: 16px;
}


/*****************************
 * Sticky footer *
 *****************************/

html {
    position: relative;
    min-height: 100%;
}

#wrapper {
    padding-bottom: 98px;
}

footer {
    width: 100%;
    height: 98px;
    border-top: 1px solid #cbcbcb;
    text-align: center;
    font-size: 16px;
    position: absolute;
    bottom: 0;
}

footer p {
    margin-top: 38px;
}